[Unit]
Description=SUMA registration
#After=network.target

[Service]
Type=oneshot
PassEnvironment=ACTIVATION_KEY SUMA_HOSTNAME
ExecStart=/usr/local/sbin/register.sh
RemainAfterExit=true
ExecStop=/usr/local/sbin/register.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target

