[Unit]
Description=Apply system modifications

[Service]
Type=oneshot
PassEnvironment=ACTIVATION_KEY SUMA_HOSTNAME
ExecStart=/usr/local/sbin/system-mods.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target

